body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2B2733;
  margin: 0;
}

h1 {
  font-weight 400;
  color: #FFF;
}

p {
  margin: 0;
  font-weight: 300;
  color: #CBC9CF;
}

button {
  border: solid 0.5px white;
  border-radius: 3%;
  background-color: #46424D;
  padding: 0.75%;
  font-size: 1.5vw;
  color: #FFF;
}

.icon {
  width: 30px;
  height: 30px;
}

.title-bar {
  background-color: #46424D;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.title {
  background-color: #46424D;
}

.activities {
  display: flex;
  display: grid;
  flex-direction: row;
  grid-template-columns: 2fr 1fr;
}

.new-activity {
  background-color: #2B2733;
  margin: 5%;
}

.left-background {
  background-color: #46424D;
  padding: 5% 12%;
  box-shadow: 0 3px 3px #26222D;
  border-radius: 0.5%;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12%;
  margin-bottom: 5%;
}

.past-activities {
  border-left: solid;
  border-color: #46424D;
  padding: 5%;
  padding-top: 10%;
}

.default-message {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
}

label {
  color: #CBC9CF;
  font-size: 0.75em;
  margin-bottom: 5%;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #CBC9CF;
  background-color: #46424D;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 5%;
}

.form-input {
  box-sizing: border-box;
}

.top-input {
  grid-column: 1 / span 3;
  border: none;
  border-bottom-color: #CBC9CF;
  margin: 8px 0;
  padding-top: 10px;
}

.info-added {
  width: 100%;
}

.num-input {
  width: 100%;
}

.right-input {
  grid-row: 2;
  grid-column: 3;
}

.start-activity-btn {
  background-color: white;
  color: #2B2733;
  padding: 0.5em 1.5em;
}

@media screen and (max-width: 949px) {
  .left-background {
    display: flex;
    flex-direction: column;
  }

  .icon,
  .btn-text {
    font-size: 2em;
    margin: 2%;
  }

  .activities {
    display: flex;
    flex-direction: column;
  }

  .past-activities {
    border-top: solid;
    border-left: none;
    border-color: #46424D;
    padding: 2%;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .study-btn,
  .meditate-btn,
  .exercise-btn {
    display: flex;
    flex-direction: row;
    margin: 0 20%;
    margin-bottom: 2em;
    align-items: center;
    justify-content: center;
  }

  .button-text {
    padding: 5%
  }

  .start-btn {
    text-align: center;
  }

  .btn-start {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

@media screen and (min-width: 950px) {
  .left-background {
    display: flex;
    flex-direction: column;
  }

  .btn-text {
    margin: 0;
    margin-bottom: 10%;
  }

  .icon {
    margin-top: 10px;
    width: 1.25em;
  }

  .btn-start {
    display: flex;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 10px 0;
  }

  .start-activity-btn {
    align-content: flex-end;
  }
}

@media screen and (max-width: 1024px) {

}
