body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2B2733;
  margin: 0;
}

h1 {
  font-weight 400;
  color: #FFF;
}

p {
  font-weight: 300;
  color: #CBC9CF;
}

button {
  border: solid 0.5px white;
  border-radius: 5%;
  background-color: #46424D;
  padding: 0.75%;
  font-size: 1.5vw;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 calc(20% - 1em);
}

.title-bar {
  background-color: #46424D;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.title {
  background-color: #46424D;
}

.activities {
  display: flex;
  display: grid;
  flex-direction: row;
  grid-template-columns: 2fr 1fr;
}

.new-activity {
  background-color: #2B2733;
  margin: 5%;
}

.left-background {
  background-color: #46424D;
  padding: 5% 12%;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12%;
  margin-bottom: 5%;
}

.btn-text {
  margin: 0;
  margin-bottom: 10%;
}

.study-btn-active {
  border-color: #B3FD78;
  color: #B3FD78;
}

.meditate-btn-active {
  border-color: #C278FD;
  color: #C278FD;
}

.exercise-btn-active {
  border-color: #FD8078;
  color: #FD8078;
}

.past-activities {
  border-left: solid;
  border-color: #46424D;
  padding: 5%;
  padding-top: 10%;
  height: 100%;
}

.default-message {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
}

label {
  color: #CBC9CF;
  font-size: 0.75em;
  margin-bottom: 5%;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #CBC9CF;
  background-color: #46424D;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 5%;
}

.form-input {
  box-sizing: border-box;
}

.top-input {
  grid-column: 1 / span 3;
  border: none;
  border-bottom-color: #CBC9CF;
  margin: 8px 0;
  padding-top: 10px;
  padding-bottom: 35px;
}

.info-added {
  width: 100%;
}

.min-input,
.sec-input {
  width: 100%;
}

.right-input {
  grid-row: 2;
  grid-column: 3;
}

.start-btn {
  background-color: white;
  color: #2B2733;
  grid-column: -1;
  padding: 0.5em 1.5em;
}

.btn-start {
display: grid;
grid-template-columns: 2fr 2fr 2fr;
padding: 10px 0;
}

.study-icon,
.meditate-icon,
.exercise-icon {
  width: 0.75em;
  font-size: 5em;
}

/*~~~~~~Media Queries~~~~~~~~~~~~*/
@media screen and (max-width: 768px) {
  .activities {
    display: flex;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .left-background {
    padding: 1% 3%;
  }

  .past-activities {
    border-top: solid;
    border-left: none;
    border-color: #46424D;
    padding: 2%;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }

  .study-btn,
  .meditate-btn,
  .exercise-btn {
    display: flex;
    margin: 0 20%;
    margin-bottom: 2em;
  }

  .start-btn {
    grid-column: 2;
  }

  .btn-start {
  justify-content: center;
  padding: 10px 0;
  }

}

@media screen and (max-width: 1280px) {
  .activities {
    display: flex;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .past-activities {
    border-top: solid;
    border-left: none;
    border-color: #46424D;
    padding: 2%;
  }

  .start-btn {
    grid-column: 2;
  }

  .btn-start {
  justify-content: center;
  padding: 10px 0;
  }
}

@media screen and (min-width: 1280px) {


}
